# Python / Flask
venv/
__pycache__/
*.pyc
instance/

.env
.env.*

# OS
.DS_Store

# IDEs and editors
.vs/
.vscode/


#files


#data
data/

#db
emtb.db
*.db
data_export.sql
*.sqlite3

#tests
tests/

#scripts/

