{% extends "layout.html" %}
{% block content %}
<!-- Page content -->
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">

<div class="hero-container">
    <div class="hero-body">
        <h1>Bikey</h1>
        <span>השוואה. המלצה. חשמליים</span>
        <a href="{{ url_for('bikes') }}" class="btn btn-warning mb-3">השוואה</a>
    </div>
</div><!-- end hero -->


    <!-- The Band Section -->
    <section>
        <h2>המטרה שלנו</h2>
        <p>לספק לרוכבים בישראל כלי חכם להשוואת אופניים הרים חשמליים בזמן אמת — עם המלצות מותאמות אישית על ידי מערכת בינה מלאכותית. נכון להיום, זו הדרך החכמה והמהירה לבחור בין מגוון רחב של דגמים ולחסוך זמן וכסף.</p>
    </section>

    <div class="w3-container w3-content w3-center w3-padding-34" style="max-width:800px" id="band">
        <section>
            <h3>?איך זה עובד</h3>
            <div class="services-grid">
                <div class="service service1">
                    <i class="ti-bar-chart"></i>
                    <h4>בוחרים, מסננים, ממיינים</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="service service2">
                    <i class="ti-light-bulb"></i>
                    <h4>השוואה והמלצה</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>

                <div class="service service3">
                    <i class="ti-money"></i>
                    <h4>רכישה</h4>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </section>


        
    </div>

    <!-- The Tour Section -->
    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">הפופולריים ביותר</h2>
            <p class="w3-opacity w3-center"><i>המחושמליים שרוכבים חיפשו הכי הרבה</i></p><br>

            {% for bike in top_bikes %}
            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                    <img src="{{ bike['Image URL'] }}" class="card-img-top" alt="{{ bike['Model'] }}">
                    <div class="w3-container w3-white">
                        <h5 class="card-firm"><b>{{bike['Firm']}}</b></h5>
                        <p class="w3-opacity">{{ bike['Model']}}</p>
                        <p class="price">{{ bike['Price']}}</p>
                        <a href="{{ bike['Product URL'] }}" target="_blank" class="btn btn-primary">לרכישה</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Ticket Modal -->
    <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
                <span onclick="document.getElementById('ticketModal').style.display='none'"
                      class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                <input class="w3-input w3-border" type="text" placeholder="How many?">
                <p><label><i class="fa fa-user"></i> Send To</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
        </div>
    </div>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">צור קשר</h2>
        <p class="w3-opacity w3-center"><i>רעיונות לפיתוח? דבר איתנו!</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> כרם מהר"ל<br>
                <i class="fa fa-phone" style="width:30px"></i> 052-5521657<br>
                <i class="fa fa-envelope" style="width:30px"> </i>romancheprack@gmail.com<br>
            </div>
            <div class="w3-col m6">
                <form action="/action_page.php" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="שם" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="מייל" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="הודעה" required name="Message">
                    <button class="w3-button w3-black w3-section w3-right" type="submit">שלח</button>
                </form>
            </div>
        </div>
    </div>

    <!-- End Page Content -->

<!-- Image of location/map -->
<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">



{% endblock %}