
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html, body {
    overflow-x: hidden;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container, .container-fluid {
    max-width: 100vw;
    overflow-x: hidden;
}

body[dir="rtl"], [dir="rtl"] {
    direction: rtl;
    unicode-bidi: embed;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

